@import "~highlight.js/styles/github.css";

$margin-main-frame: 30px;
$margin-small: 3px;
$shadow-color: rgba(0, 0, 0, 0.2);

body {
  font-family: sans-serif;
  background-color: #eeeeee;
  margin: 0;
  padding: 0;
}

.main-container {
  display: grid;
  grid-template-columns: max-content 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "chapters instruction fiddle";
  height: 100vh;
}

.item-chapters {
  grid-area: chapters;
  overflow-y: auto;

  .chapters-pane {
    margin: $margin-main-frame ($margin-main-frame / 2) $margin-main-frame
      $margin-main-frame;
  }
}

.item-instruction {
  grid-area: instruction;
  overflow-y: auto;

  .instruction-pane {
    margin: $margin-main-frame ($margin-main-frame / 2);
    border-radius: 10px;
    padding: 5px 30px;
    box-shadow: 0 0 ($margin-main-frame / 2) $shadow-color;
    background-color: white;
  }

  p {
    margin: 40px auto;
  }
}

.item-fiddle {
  grid-area: fiddle;
  overflow-y: auto;
  margin: $margin-main-frame $margin-main-frame $margin-main-frame
    ($margin-main-frame / 2);
}

.instruction-list {
  list-style: none;
  padding: 0;
}

.instruction-list-item {
  border-radius: $margin-small;
  padding: 5px 15px;
  margin: $margin-small;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);

  &:hover {
    background: rgba(255, 255, 255, 0.5);
    color: black;
  }

  &.selected {
    background: white;
    color: black;
    box-shadow: 0 0 $margin-small $shadow-color;
    cursor: auto;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

.section-list {
  list-style: none;
  padding: 0 0 0 10px;
}

.section-list-item {
  margin: 10px 0;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);

  &:hover {
    color: black;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

.monospace {
  font-family: monospace;
}

code {
  background: #f6f8fa;
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 3px 6px;
  margin: auto 3px;
}

code.language-javascript {
  display: block;
  padding: 20px;
  overflow-x: auto;
}
