@use "sass:math";
@import "~highlight.js/styles/github.css";

$tablet-width: 768px;

$margin-main-frame: 30px;
$margin-small: 3px;
$padding-small: 5px;
$padding-medium: 5px 15px;
$padding-large: 5px 30px;
$body-background-color: #eeeeee;
$shadow-color: rgba(0, 0, 0, 0.2);
$thick-shadow-color: rgba(0, 0, 0, 0.4);
$execute-button-color: green;
$code-border-color: lightgray;
$output-border-color: lightgray;
$grayed-out-color: rgba(0, 0, 0, 0.5);
$font-size: 16px;
$small-font-size: 12px;
$animation-duration: 0.25s;

body {
  font-family: sans-serif;
  background-color: $body-background-color;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

$button-transition: background-color $animation-duration ease,
  border-color $animation-duration ease, color $animation-duration ease;

@media screen and (max-width: $tablet-width) {
  .main-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "contents";
  }

  .side-tab {
    position: absolute;
    z-index: 100;
    bottom: 70px;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    padding: $margin-small 0;
    background-color: white;
    box-shadow: 0 0 $margin-small $thick-shadow-color;
    border: none;
    color: $grayed-out-color;
    cursor: pointer;

    writing-mode: vertical-rl;
    user-select: none;
    -webkit-user-select: none;

    &.left {
      left: 0;
      border-radius: 0 $margin-small $margin-small 0;

      &:before {
        content: "👈";
      }
    }

    &.right {
      right: 0;
      border-radius: $margin-small 0 0 $margin-small;

      &:before {
        content: "👉";
      }
    }
  }

  .item-chapters {
    grid-area: contents;

    &.hidden {
      display: none;
    }
  }

  .item-instruction {
    grid-area: contents;

    &.hidden {
      display: none;
    }
  }

  .item-fiddle {
    grid-area: contents;

    &.hidden {
      display: none;
    }
  }
}

@media screen and (min-width: $tablet-width) {
  .main-container {
    display: grid;
    grid-template-columns: max-content 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "chapters instruction fiddle";
  }

  .side-tab {
    display: none;
  }

  .item-chapters {
    grid-area: chapters;
  }

  .item-instruction {
    grid-area: instruction;
  }

  .toggle-fiddle {
    display: none;
  }

  .item-fiddle {
    grid-area: fiddle;
  }
}

.main-container {
  height: 100vh;
}

.item-chapters {
  overflow-y: auto;

  .chapters-pane {
    margin: $margin-main-frame math.div($margin-main-frame, 2);
  }
}

.item-instruction {
  overflow-y: auto;

  .instruction-pane {
    margin: $margin-main-frame math.div($margin-main-frame, 2);
    border-radius: 10px;
    padding: $padding-large;
    box-shadow: 0 0 $margin-small $shadow-color;
    background-color: white;
    opacity: 1;
    transition: opacity $animation-duration ease;

    &.loading {
      opacity: 0.2;
      transition: opacity $animation-duration ease;
    }

    .instruction-pane-footer {
      display: flex;
      flex-direction: column;

      .next-instruction {
        align-self: flex-end;
        margin: 0 0 $margin-main-frame 0;
      }
    }
  }

  p {
    margin: 40px auto;
  }
}

.item-fiddle {
  overflow-y: auto;
  padding: $margin-main-frame math.div($margin-main-frame, 2);
}

.instruction-list {
  list-style: none;
  padding: 0;
}

.instruction-list-item {
  border-radius: $margin-small;
  padding: $padding-medium;
  margin: $margin-small;
  cursor: pointer;
  color: $grayed-out-color;

  &:hover {
    background: rgba(255, 255, 255, 0.5);
    color: black;
  }

  &.selected {
    background: white;
    color: black;
    box-shadow: 0 0 $margin-small $shadow-color;
    cursor: auto;
  }

  a {
    color: inherit;
  }
}

.section-list {
  list-style: none;
  padding: 0 0 0 10px;
}

.section-list-item {
  margin: 10px 0;
  cursor: pointer;
  color: $grayed-out-color;

  &:hover {
    color: black;
  }

  a {
    color: inherit;
  }
}

.fiddle-execute {
  padding: $padding-small;
  border-radius: $margin-small;
  border: 1px solid $execute-button-color;
  color: $execute-button-color;
  background: rgba(0, 0, 0, 0);
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: $button-transition;

  &:hover {
    color: white;
    background: $execute-button-color;
    transition: $button-transition;
  }
}

.fiddle-code {
  margin: 0 $margin-small $margin-small $margin-small;
  border: 1px solid $code-border-color;
  border-radius: $margin-small;
  box-sizing: border-box;
  font-family: monospace;
}

.single-fiddle-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .fiddle-code {
    flex: 1;
    width: calc(100% - #{$margin-small * 2});
    min-height: 200px;
    resize: vertical;
  }
}

.two-fiddle-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .fiddle-code-container {
    flex: 1;
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 200px;
    resize: vertical;

    .fiddle-code {
      flex: 1;
      resize: none;
    }
  }
}

.three-fiddle-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .fiddle-code-container {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    min-height: 300px;
    resize: vertical;

    .fiddle-code {
      flex: 1;
      resize: none;
      min-width: 250px;
    }
  }
}

.fiddle-execute {
  width: calc(100% - #{$margin-small * 2});
  margin: 0 $margin-small;
}

.fiddle-output-container {
  flex: 1;
  margin: $margin-small;
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  .fiddle-output {
    flex: 1;

    &.hidden {
      display: none;
    }
  }

  &.log-only {
    display: block;

    .tabs {
      display: none;
    }
  }
}

.tabs {
  list-style: none;
  display: flex;
  margin: 0;
  padding-left: 0;
  border-bottom: 1px solid $output-border-color;

  .tab {
    border-radius: $margin-small $margin-small 0 0;
    border: 1px solid $output-border-color;
    padding: $padding-medium;
    margin-bottom: -1px;

    &.selected {
      border-bottom: 1px solid $body-background-color;
      z-index: 1;

      button {
        color: black;
      }
    }

    button {
      border: none;
      height: 100%;
      color: $grayed-out-color;
      background-color: transparent;

      &:hover {
        color: $execute-button-color;
      }
    }
  }
}

.tab-content {
  flex: 1;
  border: 1px solid $output-border-color;
  border-top: none;
  border-radius: 0 $margin-small $margin-small $margin-small;
  padding: $margin-small;
  display: none;
  overflow-y: auto;

  &.visible {
    display: flex;
  }
}

#html-fiddle-output {
  margin: 0;
  background-color: white;
  border: 1px solid $output-border-color;
  border-radius: $margin-small;
}

#javascript-fiddle-output {
  margin: 0;
  overflow-y: auto;
  background-color: white;
  border: 1px solid $output-border-color;
  border-radius: $margin-small;

  &.empty {
    color: $grayed-out-color;
  }

  .console-log {
    padding: $margin-small;
    border-bottom: 1px solid $output-border-color;
    white-space: normal;

    &[data-level="error"] {
      background-color: #fadbd8;
      color: red;
    }

    &[data-level="warn"] {
      background-color: lightyellow;
      color: saddlebrown;
    }
  }
}

li code {
  padding: 0px 6px;
}

code {
  background: #f6f8fa;
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 3px 6px;
  margin: auto 3px;

  &.language-javascript,
  &.language-html,
  &.language-css,
  &.language-json {
    display: block;
    padding: 30px 20px 20px 20px;
    overflow-x: auto;
    position: relative;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      border-right: 1px solid $code-border-color;
      border-bottom: 1px solid $code-border-color;
      border-radius: 0 0 $margin-small 0;
      padding: 2px 5px;
      color: gray;
    }
  }

  &.language-javascript::before {
    content: "JavaScript";
  }
  &.language-html::before {
    content: "HTML";
  }
  &.language-css::before {
    content: "CSS";
  }
  &.language-json::before {
    content: "JSON";
  }
}
